@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

:root {
  --vp-font-family-base: 'Quicksand', sans-serif;
}


body {
  font-family: var(--vp-font-family-base);
  font-size: 16px;
  line-height: 1.7;
  color: #222;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
